.wrapper {
    display: flex;
    flex-direction: column;
}

.post-title {
    background-color: lightblue;
    padding: 10px;
}

.post-body {
    padding: 10px;
}

.interaction {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fas:hover {
    cursor: pointer;
}

.red {
    color: red;
}

.blue {
    color: blue;
}